<a href="https://colab.research.google.com/github/leeilgyu/-/blob/main/%EB%85%BC%EB%A6%AC%EC%99%80_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### 201902747 이일규
a=1
b=2
print(a+b)

3

In [ ]:
fruit_basket=['apple', 'pear', 'orange', 'grape']
for fruit_left in fruit_basket:
  for fruit_right in fruit_basket:
    print(fruit_left, 'vs', fruit_right)

apple vs apple
apple vs pear
apple vs orange
apple vs grape
pear vs apple
pear vs pear
pear vs orange
pear vs grape
orange vs apple
orange vs pear
orange vs orange
orange vs grape
grape vs apple
grape vs pear
grape vs orange
grape vs grape

In [ ]:
answer = input ("주성치 영화를 본적이 있나? (예/아니오):")
if answer == '예':
  print ("진정한 영화를 보셨군요.")

주성치 영화를 본적이 있나? (예/아니오):예
진정한 영화를 보셨군요.

In [ ]:
### 범위는 range를 사용하는것이 더 간단하다
aaa = int(input())
if aaa in range(1, 31):
  for i in range(1, aaa+1):
    for k in range(1, i+1):
        print(k, end=' ')
    print()
else:
    print ("너무 많아요")

30
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [ ]:
aaa = input()
if aaa.isdecimal():
  if aaa in range(1,31):
    for i in range(1, aaa+1):
      for j in range(1, i+1):
        print(j,end=' ')
      print()
  else:
    print("너무 많습니다")
else:
  print("정수로 입력하세요")

10.2
정수로 입력하세요